{% extends '@DGAdmin/dialog/action.html.twig' %}

{% block action %}
    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> {{ 'Delete'|trans([], 'dg_admin') }}</button>
{% endblock %}
